{% if product != blank %}
  {% capture product_data_attribute %}data-oke-reviews-product-id="shopify-{{ product.id }}"{% endcapture %}
{% endif %}
{% if shop.metafields.okendo.WidgetPreRenderBodyStyleTags != blank %}
  {{- shop.metafields.okendo.WidgetPreRenderBodyStyleTags }}
{% endif %}
<div data-oke-widget {{ product_data_attribute }}>{{ product.metafields.okendo.ReviewsWidgetSnippet }}</div>
