<section class="product-discount-main">
  <div class="product-discount_heading">
    <span>
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20ZM10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18Z" fill="#152B73"></path>
        <path d="M10.4061 11.9585C10.4061 11.7029 10.4535 11.4646 10.5482 11.2435C10.643 11.0225 10.7716 10.829 10.934 10.6632C11.0964 10.4974 11.286 10.3661 11.5025 10.2694C11.7191 10.1727 11.9526 10.1244 12.203 10.1244C12.4535 10.1244 12.687 10.1727 12.9036 10.2694C13.1201 10.3661 13.3096 10.4974 13.4721 10.6632C13.6345 10.829 13.7631 11.0225 13.8579 11.2435C13.9526 11.4646 14 11.7029 14 11.9585C14 12.2142 13.9526 12.4525 13.8579 12.6736C13.7631 12.8946 13.6345 13.0881 13.4721 13.2539C13.3096 13.4197 13.1201 13.5509 12.9036 13.6477C12.687 13.7444 12.4535 13.7927 12.203 13.7927C11.9526 13.7927 11.7191 13.7444 11.5025 13.6477C11.286 13.5509 11.0964 13.4197 10.934 13.2539C10.7716 13.0881 10.643 12.8946 10.5482 12.6736C10.4535 12.4525 10.4061 12.2142 10.4061 11.9585ZM13.1574 11.9585C13.1574 11.8273 13.1303 11.7029 13.0761 11.5855C13.0288 11.4611 12.9611 11.3575 12.8731 11.2746C12.7919 11.1848 12.6904 11.1157 12.5685 11.0674C12.4535 11.0121 12.3316 10.9845 12.203 10.9845C12.0677 10.9845 11.9425 11.0121 11.8274 11.0674C11.7124 11.1157 11.6108 11.1848 11.5228 11.2746C11.4416 11.3575 11.3739 11.4611 11.3198 11.5855C11.2724 11.7029 11.2487 11.8273 11.2487 11.9585C11.2487 12.0967 11.2724 12.2245 11.3198 12.342C11.3739 12.4594 11.4416 12.563 11.5228 12.6528C11.6108 12.7358 11.7124 12.8048 11.8274 12.8601C11.9425 12.9085 12.0677 12.9326 12.203 12.9326C12.3316 12.9326 12.4535 12.9085 12.5685 12.8601C12.6904 12.8048 12.7919 12.7358 12.8731 12.6528C12.9611 12.563 13.0288 12.4594 13.0761 12.342C13.1303 12.2245 13.1574 12.0967 13.1574 11.9585ZM6 8.04145C6 7.78584 6.04738 7.5475 6.14213 7.32642C6.23689 7.10535 6.36548 6.91192 6.52792 6.74611C6.69036 6.58031 6.87986 6.44905 7.09645 6.35233C7.31303 6.25561 7.54653 6.20725 7.79695 6.20725C8.04738 6.20725 8.28088 6.25561 8.49746 6.35233C8.71404 6.44905 8.90355 6.58031 9.06599 6.74611C9.22843 6.91192 9.35702 7.10535 9.45178 7.32642C9.54653 7.5475 9.59391 7.78584 9.59391 8.04145C9.59391 8.29706 9.54653 8.53541 9.45178 8.75648C9.35702 8.97755 9.22843 9.17098 9.06599 9.33679C8.90355 9.50259 8.71404 9.63385 8.49746 9.73057C8.28088 9.82729 8.04738 9.87565 7.79695 9.87565C7.54653 9.87565 7.31303 9.82729 7.09645 9.73057C6.87986 9.63385 6.69036 9.50259 6.52792 9.33679C6.36548 9.17098 6.23689 8.97755 6.14213 8.75648C6.04738 8.53541 6 8.29706 6 8.04145ZM8.75127 8.04145C8.75127 7.91019 8.7242 7.78584 8.67005 7.66839C8.62267 7.54404 8.55499 7.44041 8.46701 7.35751C8.38579 7.2677 8.28426 7.19862 8.16244 7.15026C8.04738 7.09499 7.92555 7.06736 7.79695 7.06736C7.66159 7.06736 7.53638 7.09499 7.42132 7.15026C7.30626 7.19862 7.20474 7.2677 7.11675 7.35751C7.03553 7.44041 6.96785 7.54404 6.91371 7.66839C6.86633 7.78584 6.84264 7.91019 6.84264 8.04145C6.84264 8.17962 6.86633 8.30743 6.91371 8.42487C6.96785 8.54231 7.03553 8.64594 7.11675 8.73575C7.20474 8.81865 7.30626 8.88774 7.42132 8.943C7.53638 8.99136 7.66159 9.01554 7.79695 9.01554C7.92555 9.01554 8.04738 8.99136 8.16244 8.943C8.28426 8.88774 8.38579 8.81865 8.46701 8.73575C8.55499 8.64594 8.62267 8.54231 8.67005 8.42487C8.7242 8.30743 8.75127 8.17962 8.75127 8.04145ZM8.15228 14L7.46193 13.658L11.868 6L12.5482 6.34197L8.15228 14Z" fill="#152B73"></path>
      </svg>
    </span>
    <span>
      <h6>Discounts on bulk order</h6>
    </span>
  </div>
  <div class="discount_bar_main">
    <div class="discount_bar_heading">
      <p>
        {% assign cart_disc = 95600 %}
        {% assign cart_value = cart.total_price %}
        {% assign Discount = cart_disc | minus: cart_value %}
        spend <strong> {{ Discount | money }} </strong> more to <strong>Get get 10% OFF</strong>
      </p>
      <p>cart price is : {{ cart.total_price | money }}</p>
      <p>discount {{ discount_allocation.amount }}</p>
      {% comment %} <p>{{ line_item.discount_allocations }}</p> {% endcomment %}
    </div>
    <div class="discount_bar_second_main">
      <div class="discount_bar_parent">
        <div class="discount_bar">hello</div>
      </div>
      <div class="discount_bar_circle">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="20" height="20" rx="10" fill="#B9C6FB"></rect>
          <rect x="3" y="3" width="14" height="14" rx="7" fill="#DA2F20"></rect>
        </svg>
      </div>
      <button class="btn-pg-bar">click me</button>
    </div>
  </div>
  <div class="discount__information">
    <div class="discount_info {% if cart.total_price >= 50000 %} discount_info_tik   {% endif %}">
      <p>Complementary Gift on orders above <strong> RS.500 </strong></p>
      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="14.25" cy="14.25" r="13.5" fill="white" stroke="#009688" stroke-width="1.5"/>
        <path d="M6.75 12.75L11.25 19.5L21 9" stroke="#009688" stroke-width="3"/>
      </svg>
    </div>
    <div class="discount_info {% if cart.total_price >= 100000 %} discount_info_tik   {% endif %}">
      <p>Spend RS.1000+ to get <strong> &nbsp 10% OFF </strong></p>
      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="14.25" cy="14.25" r="13.5" fill="white" stroke="#009688" stroke-width="1.5"/>
        <path d="M6.75 12.75L11.25 19.5L21 9" stroke="#009688" stroke-width="3"/>
      </svg>
    </div>
    <div class="discount_info {% if cart.total_price >= 500000 %} discount_info_tik   {% endif %}">
      <p>Spend RS.5000+ to get <strong> &nbsp 20% OFF </strong></p>
      <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="14.25" cy="14.25" r="13.5" fill="white" stroke="#009688" stroke-width="1.5"/>
        <path d="M6.75 12.75L11.25 19.5L21 9" stroke="#009688" stroke-width="3"/>
      </svg>
    </div>
  </div>
</section>
