{% if section.settings.video_url contains 'youtube.com' or section.settings.video_url contains 'vimeo.com' %}
  <div class="video-container">
    <iframe src="{{ section.settings.video_url }}" frameborder="0" allowfullscreen></iframe>
  </div>
{% else %}
  <p>Please enter a valid YouTube or Vimeo video URL.</p>
{% endif %}
{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "video_url",
      "id": "video_url",
      "label": "Video URL",
      "accept":[
        "youtube",
        "vimeo"
      ]
    }
  ]
}
{% endschema %}
