{% style %}
  .main-container .row .thePara {
    color: red; /* Default color */
  }

  .main-container .row .thePara.color-accent-1 {
    color: red;
  }

  .main-container .row .thePara.color-accent-2 {
    color: green;
  }

  .main-container .row .thePara.color-accent-3 {
    color: yellow;
  }
{% endstyle %}

<div class="main-container">
  <div class="row">
    <p class="thePara {% if section.settings.color-main == 'accent-1' %}color-accent-1{% endif %}{% if section.settings.color-main == 'accent-2' %}color-accent-2{% endif %}{% if section.settings.color-main == 'accent-3' %}color-accent-3{% endif %}">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, ratione.
    </p>
  </div>
</div>
{% schema %}
{
  "name": "testing",
  "settings": [
    {
      "type": "select",
      "id": "color-main",
      "label": "select a color",
      "options": [
        {
          "value": "accent-1",
          "label": "accent-1"
        },
        {
          "value": "accent-2",
          "label": "accent-2"
        },
        {
          "value": "accent-3",
          "label": "accent-3"
        }
      ],
      "default": "accent-2"
    }
  ],
  "blocks": [
    {
      "name": "blocks",
      "type": "blocks",
      "settings": [
        {
          "type": "image_picker",
          "id": "img-check",
          "label": "Select a image"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "testing"
    }
  ]
}
{% endschema %}
