@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* The below code from scss */

body {
  background-color: #e0dede !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.image-with-text {
  visibility: hidden;
}

.color-background-1 {
  visibility: hidden;
}

.newsletter {
  visibility: hidden;
}

.main-container {
  background-color: rgb(243, 237, 237);
  position: relative;
  border-bottom: 1px solid #000;
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 63%;
}

.shopname:hover {
  cursor: pointer;
}

.btnDiv {
  display: none;
}

.nav-items {
  display: flex;
}

.nav-links a {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
  transition: display 1s ease;
}

.links button {
  border: none;
  color: #000;
  background: none;
  font-size: 17px;
}

.links:hover .childLinks {
  position: absolute;
  top: 2.7rem;
  max-width: 160px;
  left: 0;
  padding: 0 2rem 2rem 2rem;
  background-color: #fff;
  display: block;
  box-shadow: 0px 0px 5px 5px #888888;
}

.links svg {
  height: 2rem;
  width: 2rem;
}

.childLinks {
  display: none;
}

.childLinks p {
  color: #000;
}

.childLinks a {
  text-decoration: none;
}

.childLinks a:hover {
  text-decoration: underline;
}

.icons {
  width: 10%;
}

.AnnounceText {
  text-decoration: none;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation-iteration-count: infinite;
}

.nav-links-icons {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.nav-links-icons a {
  height: 20px;
}

.nav-links-icons a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.grandchildLink-btn {
  display: flex;
}

.GrandChilds {
  display: none;
  padding: 0 1rem;
  background-color: #fff;
}

.GrandChilds p:hover {
  text-decoration: underline;
}

.links2 button {
  padding: 10px 0;
}

.links2 button:hover {
  text-decoration: underline;
}

.links2:hover .GrandChilds {
  display: block;
}

.links2:hover svg {
  transform: rotate(180deg);
  transition: 0.6s;
}

.img_and_text {
  padding-top: 2rem;
}

.img_and_text .wrapper .imgText {
  width: 100%;
  display: flex;
}

.img_and_text .wrapper .imgText .imgs {
  width: 50%;
}

.img_and_text .wrapper .imgText .imgs img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img_and_text .wrapper .imgText .text {
  padding: 0 1% 0 2%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 342px;
}

.img_and_text .wrapper .imgText .text .btn {
  max-width: fit-content;
  margin-bottom: 2%;
  position: relative;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.img_and_text .wrapper .imgText .text .btn:hover {
  padding:0 5px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.img_and_text .wrapper .imgText .text .btn a {
  text-decoration: none;
  max-width: fit-content;
}

@media screen and (min-width: 2100px) {
  .logo-alignment {
    width: 61%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2099px) {
  .logo-alignment {
    width: 68%;
  }
}

@media screen and (max-width: 1200px) {
  .logo-alignment {
    width: 70%;
  }

  .shopname {
    font-size: 40px;
  }
}

@media screen and (max-width: 833px) {
  .shopname {
    font-size: 30px;
  }

  .icons {
    width: 11%;
  }

  .logo-alignment {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .btnDiv {
    display: inline-block;
    padding-left: 20px;
  }

  .img_and_text .wrapper .imgText {
    flex-direction: column;
  }

  .img_and_text .wrapper .imgText .imgs {
    width: 100%;
  }

  .img_and_text .wrapper .imgText .text {
    padding: 0 1%;
    text-align: center;
    width: 100%;
  }

  .img_and_text .wrapper .imgText .text .btn {
    margin: 0 auto;
    margin-bottom: 2%;
  }

  #panel {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    height: 100vh;
    color: #000;
    z-index: 9;
    transition: transform 2s ease-in-out;
    transform: translateX(100%);
  }

  #panel.show {
    display: block;
    top: 100%;
    transform: translateX(0);
  }

  .icons {
    width: unset;
  }

  .logo-alignment {
    width: unset;
    display: unset;
    flex: unset !important;
    flex-direction: unset;
  }

  .logo-desk-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .GrandChilds {
    left: -140px;
    right: 80%;
  }
}

@media screen and (max-width: 520px) {
  .shopname {
    font-size: 25px !important;
    padding: 0 1rem;
  }
}

/*# sourceMappingURL=custom.css.map */